[agent]
uuid = "{{ agent.uuid }}"
ip = "{{ agent.ip }}"
port = "{{ agent.port }}"
registrar_ip = "{{ agent.registrar_ip }}"
registrar_port = "{{ agent.registrar_port }}"
contact_ip = "{{ agent.contact_ip }}"
contact_port = "{{ agent.contact_port }}"
trusted_client_ca = "{{ agent.trusted_client_ca }}"
